@CHARSET "UTF-8";

#client_edit_window {
	width: 100%;
}

#base_form_div {
	float: left;
	height: 100%;
	width: 600px;
}

#services_div {
	float: left;
	height: 100%;
}

#optional_info_div {
	float: left;
	height: 100%;
}

#personal_info_div {
	float: left;
	height: 100%;
}

#homeless_reasons_div {
	float: left;
	height: 100%;
}

#existence_sources_div {
	float: left;
	height: 100%;
}

#chronical_distasters_div {
	float: left;
	height: 100%;
}

.ui-widget .ui-icon-aquire {
    background-image: url('../../images/aquireImage.png');
    background-position: center center !important;
    width: 16px;
    height: 16px;
}

.ui-widget .ui-icon-open {
    background-image: url('../../images/openImage.png');
    background-position: center center !important;
    width: 16px;
    height: 16px;
}

.ui-widget .ui-icon-delete {
    background-image: url('../../images/deleteImage.png');
    background-position: center center !important;
    width: 16px;
    height: 16px;
}

.photoOperationButtons tr, .photoOperationButtons td {
	border-style: hidden !important;
}
