<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd ">


    <context:component-scan base-package="ru.homeless" />
    <context:annotation-config />
    <context:spring-configured />

    <bean id="appProps" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/application.properties</value>
                <value>file:${homelessConfigDir:/etc/homeless}/homeless.properties</value>
                <value>file:${homelessConfigDir:/etc/homeless}/db.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="false" />
        <property name="fileEncoding" value="utf8" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${db.driverClassName:com.mysql.cj.jdbc.Driver}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="defaultAutoCommit" value="false" />
        <property name="defaultTransactionIsolation" value="#{T(java.sql.Connection).TRANSACTION_READ_COMMITTED}" />
        <property name="initialSize" value="${db.initialSize:5}" />
        <property name="maxActive" value="${db.maxActive:55}" />
        <property name="minIdle" value="${db.minIdle:5}" />
        <property name="maxIdle" value="${db.maxIdle:10}" />
        <property name="maxWait" value="${db.maxWait:5000}" />
        <property name="testOnBorrow" value="true" />
        <property name="testOnReturn" value="false" />
        <property name="testWhileIdle" value="false" />
        <property name="validationQuery" value="/* ping */ select 1" />
        <property name="removeAbandoned" value="true" />
        <property name="removeAbandonedTimeout" value="${db.removeAbandonedTimeout:300}" />
        <property name="logAbandoned" value="true" />
        <property name="timeBetweenEvictionRunsMillis" value="${db.timeBetweenEvictionRunsMillis:30000}" />
        <property name="minEvictableIdleTimeMillis" value="${db.minEvictableIdleTimeMillis:60000}" />
    </bean>

    <!-- Session Factory Declaration -->
    <bean id="SessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- <property name="packagesToScan"> <list> <value>net.javabeat.spring.model</value> 
        </list> </property> -->
        <property name="annotatedClasses">
            <list>
                <value>ru.homeless.entities.Client</value>
                <value>ru.homeless.entities.ChronicDisease</value>
                <value>ru.homeless.entities.Breadwinner</value>
                <value>ru.homeless.entities.Education</value>
                <value>ru.homeless.entities.NightStay</value>
                <value>ru.homeless.entities.Reasonofhomeless</value>
                <value>ru.homeless.entities.FamilyCommunication</value>
                <value>ru.homeless.entities.Rules</value>
                <value>ru.homeless.entities.Worker</value>
                <value>ru.homeless.entities.RecievedService</value>
                <value>ru.homeless.entities.ServicesType</value>
                <value>ru.homeless.entities.Document</value>
                <value>ru.homeless.entities.DocType</value>
                <value>ru.homeless.entities.ServContract</value>
                <value>ru.homeless.entities.ContractResult</value>
                <value>ru.homeless.entities.ShelterHistory</value>
                <value>ru.homeless.entities.ShelterResult</value>
                <value>ru.homeless.entities.ContractPoints</value>
                <value>ru.homeless.entities.ContractControl</value>
                <value>ru.homeless.entities.Room</value>
                <value>ru.homeless.entities.CustomDocumentRegistry</value>
                <value>ru.homeless.entities.ZAGSRequestDocumentRegistry</value>
                <value>ru.homeless.entities.BasicDocumentRegistry</value>
                <value>ru.homeless.entities.BasicDocumentRegistryType</value>
                <value>ru.homeless.entities.DocumentScan</value>
                <value>ru.homeless.entities.Region</value>
                <value>ru.homeless.entities.SubRegion</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>

                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.cache.use_structured_entries">false</prop>

                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
            </props>
        </property>
    </bean>

    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager" />
    <tx:annotation-driven proxy-target-class="true"/>


    <!-- Transaction Manager is defined -->
    <bean id="txManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>

</beans>

